<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses List</title>
    <link rel="stylesheet" href="/public/styles.css">
</head>
<body>
    <h1>Students</h1>
    <h2>In range: {{RANGE}}</h2>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Age</th>
                <th>Sex</th>
            </tr>
        </thead>
        <tbody>
            {{STUDENTS}}
        </tbody>
    </table>
</body>
</html>
